.venv/
.streamlit/
__pycache__/
*.py[cod]
.DS_Store
.ipynb_checkpoints/
work/
outputs/
data/raw/*
data/processed/*
models/*
!models/tfidf_logistic_regression.joblib
reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
